<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
     <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet"  href="/css/style.css">
    <script src="/js/app.js"></script>

</haad>


<body>

<div class="main-content">
    {{>header}}

 <c>{{helpText}}</c>
</div>
 {{>footer}}
</body>






</html>